* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Gabelisa";
  src: url(../font/gabelisa.otf);
}

:root {
  --color-yellow: #fdde01;
  --color-grey-yellow: #e6e4a8;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  width: 22.8rem;
  height: 5.6rem;
  border-radius: 0.4rem;

  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.button--yellow {
  background-color: var(--color-yellow);
}

.button.button--border {
  border: 2px solid #000;
}

.container {
  width: 133rem;
  margin: 0 auto;
  max-width: 100%;
}

.header {
  height: 82.5rem;
  background: linear-gradient(
    105deg,
    var(--color-yellow) 0%,
    var(--color-yellow) 70%,
    transparent 70%,
    var(--color-grey-yellow)
  );
  padding-top: 4.4rem;
  position: relative;
}

.header__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  width: 25.6rem;
}

.header__logo img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.header__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__hotline {
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
  text-align: right;
}

.header__hotline span {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header__hotline h4 {
  font-size: 2.4rem;
}

.navigation {
  margin-top: 2.8rem;
}

.navigation__item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.navigation__item + .navigation__item {
  margin-left: 5.8rem;
}

.header__body-text {
  position: absolute;
  top: 50%;
  left: 8.6rem;
  transform: translateY(-50%);
  text-align: center;
}

.header__body-text .wh {
  font-family: "Gabelisa";
  font-size: 5.7rem;
  font-weight: 500;
  text-transform: capitalize;
}

.header__body-text .wait {
  font-family: "Fredericka the Great", cursive;
  font-size: 9rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header__body-text .let {
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header__body-text .divider {
  display: inline-block;
  width: 80%;
  background-color: #cbb201;
  height: 3px;
  margin: 3.8rem 0;
}

.header__body-text .promote {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-family: "Fredericka the Great", cursive;
}

.promote .left {
  font-size: 1.9rem;
  text-transform: uppercase;
  max-width: 15rem;
}

.promote .right {
  font-size: 5.7rem;
}

.header__body-text .order {
  display: flex;
  justify-content: center;

  margin-top: 4rem;
}

.header__body-image-food {
  position: absolute;
  bottom: 3.8rem;
  left: 70%;
  transform: translateX(-50%);

  width: 56rem;
}

.header__body-image-food img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__body-image-pasta {
  width: 9rem;

  position: absolute;
  top: 19rem;
  left: 50%;

  transform: rotate(90deg);
}

.header__body-image-pasta img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.header__body-image-leaf {
  width: 8rem;

  position: absolute;
  bottom: 7.4rem;
  right: 3.4rem;
}

.header__body-image-leaf img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__body-image-tomato {
  width: 9rem;
  position: absolute;
  bottom: 4.2rem;
  left: 45%;
}

.header__body-image-tomato img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.spaghetti {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);

  width: 34rem;
}

.spaghetti img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.section {
  padding-top: 8.8rem;
}

.section__heading {
  font-family: "Fredericka the Great", cursive;
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.section__introduction {
  width: 80%;
  margin: 3.2rem auto 0;
  text-align: center;
  line-height: 1.8;
}

.food__list {
  --food-item-img-height: 37rem;

  margin-top: 5.5rem;
  position: relative;
}

.food__list .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

.food__list .background {
  position: absolute;
  z-index: -1;
  top: calc(var(--food-item-img-height) / 2);
  transform: translateY(-50%);
  width: 100%;
  height: 14rem;
  background-color: var(--color-grey-yellow);
}

.food__item-img img {
  width: 100%;
  height: var(--food-item-img-height);

  object-fit: cover;
}

.food__item-info {
  text-align: center;
  margin-top: 5rem;
}

.food__item-name {
  font-size: 2.1rem;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: 2.4rem;
}

.food__item-desc {
  line-height: 1.3;
}

.food__item-order {
  margin: 4rem auto 0;
}

.discover {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.slider {
  margin-top: 3.8rem;
  overflow: hidden;
}

.slick-slide {
  height: 40rem;

  position: relative;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.slick-slide.slick-center {
  height: 50rem;
}

.slick-slide:not(.slick-center)::after {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.5);
}



/* phần foot */
.block_foot {
  width: 1236px;
  margin: auto;
  margin-top: 9em;
  margin-bottom: 5em;
  padding: 0 5px;
}
.block_main {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.block_left {
  background-image: url(../img/image_foot.png);
  height: 420px;
  width: 597px;
  background-size:cover ;
}

.block_left h3 {
  padding-top: 45px;
  padding-left: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}
.block_left h2 {
  padding-left: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
}

.block_right {
  height: 420px;
  width: 597px;
  background-size:cover ;

}

.img_block_top {
  background-image: url(../img/Image_foot2.png);
  background-size: cover;
  height: 194px;
  width: 100%;
  margin-bottom: calc((420px - 388px));
}

.img_block_top h3 {
  padding-top: 29px;
  padding-left: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.img_block_top h2 {
  padding-left: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
}

.img_block_bottom {
  background-image: url(../img/Image_foot3.png);
  background-size: cover;
  height: 194px;
  width: 100%;
}

.img_block_bottom h3 {
  padding-top: 29px;
  padding-left: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.img_block_bottom h2 {
  padding-left: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
}

/* phần table */
.block_table {
  width: 786px;
  margin: auto;
  margin-top: 50px;
}

.intable{
  width: 786px;
  display: flex;
}

.table_left{
  width: 380px;
  margin-right: 14px;
}

.table_right{
  width: 380px;
  margin-left: 14px;
}

.input_name{
  height: 64px;
  width: 100%;
  border-radius: 0.4rem;
  border: 2px solid #bebebe;
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: 15px;
  margin: 14px 14px;

}

.button_find {
  height: 64px;
  width: 380px;
  border-radius: 0.4rem;
  font-size: 1.7rem;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  margin: 14px 14px;
  align-items: center;
  padding:12px ;
  justify-content: center;
  border: 2px solid #ffe001;


}

.button_find.button--yellow {
  background-color: var(--color-yellow);
}


/* phần end */
footer .block_end {
  margin-top: 100px;
  background-image: url(../img/backgroupend.png);
  background-size: cover;
  height: 582px;
  display: flex;
  width: 100%;
  padding: 80px 100px;

}
.block_end_left {
  width: 50%;
}

.block_img_end_left {
  width: 325px;
  height: 87px;
}

.block_img_end_left img {
  width: 70%;
}

.block_content_end_left {
  padding-top: 50px;
  width: 520px;
}
.block_content_end_left p {
  color: #fff;
  font-weight: 300;
}

.the_company {
  margin-top: 180px;
  color: white;
}

.block_end_right {
  width: 50%;
}

.location_right {
  height: 90px;
  width: 460px;
  padding-top: 140px;
  margin-left: 130px;
}

.location {
  display: flex;
  margin-bottom: 15px;
}

.location img {
  width: 31px;
  height: 35px;
}

.location p {
  color: white;
  padding-top: 5px;
  font-weight: 400;
  margin-left: 30px;
  width: 440px;
}

.email {
  display: flex;
}

.email img {
  width: 29px;
  height: 23px;
}

.email p {
  color: white;
  font-weight: 400;
  margin-left: 30px;
}

.listicon {
  padding-top: 180px;
  padding-left: 250px;
}

.listicon ul {
  display: flex;
  list-style: none;
}

.listicon ul li {
  margin-left: 15px;
}

.content_prep{
  width: 100%;
}
/* reponsive */

@media screen and (max-width: 1200px){
  .content_prep{
    width: 100%;

  }

  .block_main{
    width: 1200px;

  }

  .block_left {
    height: 400px;
    width: 500px;
    background-size:cover ;
  }
  
  .block_right {
    height: 400px;
    width: 500px;
    margin-left: 20px;


  }
  
  .img_block_top {
    background-size:cover ;
    width: 500px;
    height: 194px;
    margin-bottom: calc((400px - 388px));
  }
  
  .img_block_bottom {
    width: 500px;
    height: 194px;
    background-size:cover ;
  }

  .block_end{
    height: 582px;
    width: 100%;
    background-size:cover ;
    padding-left: 10px;
  }

}

@media screen and (max-width: 1100px){
  .content_prep{
    width: 100%;

  }
  .listicon{
    padding-left: 150px;
  }

}

@media screen and (max-width: 992px){
  .content_prep{
    width: 992px;

  }

  .block_main{
    width: 992px;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 12px;
  }

  .block_left {
    height: 420px;
    width: 600px;
    background-size:cover ;
    margin-bottom: 12px;
  }
  .block_right {
    height: 388px;
    width: 600px;
    margin-left: 0px;


  }
  
  .img_block_top {

    background-size:cover ;
    width: 100%;
  }
  
  .img_block_bottom {
    width: 100%;
    background-size:cover ;
  }



  .intable{
    width: 992px;
    flex-wrap: wrap;
    margin: auto;

  }

  .table_left{
    width: 500px;
    margin-right: 0px;
  }
  
  .table_right{
    width: 500px;
    margin-left: 0px;
  }

  .button_find {
    width: 500px;

  }

  footer .block_end {
    margin-top: 100px;
    background-size: cover;
    height: 582px;
    width: 100%;
    padding: auto;
    flex-wrap: wrap;
 

  }

  .block_end_left{
    text-align: center;
    width: 500px;
  }

  .block_img_end_left {
    width: 425px;
    height: 97px;
    text-align: center;
    margin-left: 80px;
  }

  .block_img_end_left img {
    width: 100%;

  }

  .block_end_right{
    margin-top: 10px;

    width: 500px;
  }

  .the_company {
    margin-top: 15px;
    color: white;
  }
  .location_right {
    height: 90px;
    width: 460px;
    padding-top: 15px;
    margin-left:50px;
  }
  
  .location {
    display: flex;
    margin-bottom: 15px;
  }
  .listicon {
    padding-top: 15px;
    padding-left: 250px;
  }







  

}